@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles.css or index.css */
.scrollbar-thin::-webkit-scrollbar {
    width: 4px; /* Set the width of the scrollbar */
  }
  
  .scrollbar-thin::-webkit-scrollbar-track {
    background-color: transparent; /* Optional: Set a background for the track */
  }
  
  .scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3); /* Optional: Set the color of the thumb */
    border-radius: 10px; /* Optional: Round the corners of the scrollbar thumb */
  }
  
  /* For Firefox */
  .scrollbar-thin {
    scrollbar-width: thin; /* Make the scrollbar thin in Firefox */
    scrollbar-color: rgba(0, 0, 0, 0.3) transparent; /* Set thumb and track color for Firefox */
  }
  